doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title Discoveries | '#{discoveries[0].guildName}'
    link(href="static/styles/style.css", rel="stylesheet")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap", rel="stylesheet")
  body
    h1 Discoveries for #{discoveries[0].guildName}
    for discovery in discoveries
        div.discovery
            a.flex-wrapper(href=`https://www.youtube.com/watch?v=${discovery.songInfo.id}`)
                img.dicovery-thumbnail(src=`${discovery.songInfo.thumbnailUrl}`)
                div.discovery-info
                  h2.discovery-title #{discovery.songInfo.title}
                  h3.discovery-genre Genre: #{discovery.songInfo.genre}
                  div.user-info
                      img.user-img(src=`${discovery.authorAvatarURL}`)
                      p.user-name #{discovery.authorName}
